* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
.big-font {
  font-size: 3.5rem; 
  color: #f0f0f0;
}

.medium-font {
  font-size: 1.5rem; 
}

.visibility {
  visibility: hidden;
}
.error{
  height: 16px;
}

.shadow-dark {
  box-shadow:2rem rgba(0, 0, 0, 0);
}

body[data-bs-theme="dark"] {
  background-color: #EDF2F2; 
}


/* body[data-bs-theme="dark"] {
  background-color: #EDF2F2; 
} */

.button-yellow{
  background-color: #FFE347;
  color: #28282c ;
  border-radius: 32px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button-yellow:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.d-red{
  background-color:#F08080;
}

.blue{
  color: #169BD6
}

.bg-blue {
  background-color: #169BD6;
}
.bg-dark-blue {
  background-color: #2E4057;
}
.bg-green{
  background-color: #92B093;
}
.bg-other {
  background-color: #506080;
}
.box {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.font-light{
  color: #adb5bd;
}
.font-dark{
  color:#28282c 
}
.button{
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button:hover {
  text-decoration: none;
  /* border-color: #708090; */
  background-color: #B0C4DE;
}

.active{
  background-color: #169BD6;
  /* border-color: #2F4F4F; */
}
.inactive{
  background-color: #DEDEDE;
  /* border-color: #778899; */
  color: #fff;
}
/* Adjusting border radius for the first button (Monthly) */
.btn-group > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Adjusting border radius for the second button (Yearly) */
.btn-group > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .button + .button {
  margin-left: -1px;
}